body {
    margin: 0;
    padding: 0;
    background:#191919; 
    background-image: url(images/yellow.jpg);
    background-repeat: no-repeat;
  }
  /* img{
    height: 482px;
    width: 70%;
    margin-left: 479px;
    background-color: #191919;
  } */
  i{
    z-index: 1;
    justify-content: space-between;
  }
  ol {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }
  
  ol li {
    list-style: none;
    margin: 28px 0px;
  }
  
  ol li a {
    position: relative; 
    display: flex;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: 5s;
  }
  
  ol li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  ol li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  ol li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
  